@model TaskDelegatingWebApp.Models.Week

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="row">
    @foreach(var day in Model.Days)
    {
        <div class="col">
            <h2>@day.DayName</h2>
            <hr>
            <div>
                <ul class="list-group">
                    @if(day.TaskItems.Count == 0)
                    {
                     <li class="list-group-item">No Tasks</li>   
                    }
                    else{
                    @foreach(var task in day.TaskItems)
                    {
                        <li class="list-group-item">@task.TaskName</li>
                    }
                    }
                </ul>
            </div>
        </div>

    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
