@model TaskDelegatingWebApp.ViewModels.WeekVIewModel;
    <div class="row">
        <h2>@Model.Name</h2>

        
            @foreach (var day in Model.Days)
            {<div class="col border-1 border-end d-flex flex-column align-items-start justify-content-around">
                <h3>@day.DayName</h3>
                <hr />
                <ul class="list-group">
                    @if (day.TaskItems.Count == 0)
                    {
                        <li class="list-group-item">no tasks</li>
                    }
                    else
                    {
                        @foreach (var task in day.TaskItems)
                        {
                            <li class="list-group-item">@task.TaskName -- @task.AssignedPerson.PersonName</li>
                        }
                    }

                </ul>
              </div>
            }
        
    </div>