@model TaskDelegatingWebApp.ViewModels.PersonViewModel

@{
    ViewData["Title"] = "weekViewModel";
}

<div class="container">
    <div class="row">
        @foreach (var day in Model.Days)
{
               <div class="col">
                   <h1>@day.DayName.</h1>
               </div>
}
    </div>
</div>