@model TaskDelegatingWebApp.Dtos.DaysDto;

@{
    ViewData["Title"] = "Home Page";
}


    
        <div id="week" class="row bg-light w-100">

        </div>


    

@section Scripts{
    <script>



        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "https://localhost:7148/api/days",
                dataType: "json",
                data: { data: JSON.stringify() },
                success: function (obj) {
                    let obj = 
                    var calanderDay = "";
                    $.each(obj.data, function (key, day) {
                        $.each(day.taskItems, function (k, task) {
                            console.log(day.dayName + "\n" + task.taskName);
                        })
                    })
                    //   var week = $("#week");
                    //console.log(data

                },
            });
        });

      
       
    </script>
}