@model TaskDelegatingWebApp.Dtos.DaysDto;

@{
    ViewData["Title"] = "Home Page";
}


    
<div id="week" class="row bg-light w-100">
    <div id="week" class="m-auto row flex-row bg-light w-80 min-vh-75">
        <div id="Monday" data-Day-Monday class="col d-flex flex-column">
            <div><h2>Monday</h2></div>
            <hr />
            <div class="morning">
                <h3>Morning</h3>
                <ul class="list-group">
                    <li class="list-group-item">task 1</li>
                    <li class="list-group-item">task 2</li>
                    <li class="list-group-item">task 3</li>
                </ul>
            </div>
            <div class="afternoon">
                <h3>Afternoon</h3>
                <ul class="list-group">
                    <li class="list-group-item">task 1</li>
                    <li class="list-group-item">task 2</li>
                    <li class="list-group-item">task 3</li>
                </ul>
            </div>
            <div class="evening">
                <h3>Evening</h3>
                <ul class="list-group">
                    <li class="list-group-item">task 1</li>
                    <li class="list-group-item">task 2</li>
                    <li class="list-group-item">task 3</li>
                </ul>
            </div>
        </div>
        <div id="Tuesday" data-Day-Tuesday class="col d-flex flex-column">
            <div><h2>Tuesday</h2></div>
            <hr />
            <div class="morning">
                <h3>Morning</h3>
                <ul class="list-group">
                    <li class="list-group-item">task 1</li>
                    <li class="list-group-item">task 2</li>
                    <li class="list-group-item">task 3</li>
                </ul>
            </div>
            <div class="afternoon">
                <h3>Afternoon</h3>
                <ul class="list-group">
                    <li class="list-group-item">task 1</li>
                    <li class="list-group-item">task 2</li>
                    <li class="list-group-item">task 3</li>
                </ul>
            </div>
            <div class="evening">
                <h3>Evening</h3>
                <ul class="list-group">
                    <li class="list-group-item">task 1</li>
                    <li class="list-group-item">task 2</li>
                    <li class="list-group-item">task 3</li>
                </ul>
            </div>
        </div>

        <div id="Wednesday" data-Day-Wednesday class="col d-flex flex-column">
            <div><h2>Wednesday</h2></div>
            <hr />
            <div class="morning">
                <h3>Morning</h3>
                <ul class="list-group">
                    <li class="list-group-item">task 1</li>
                    <li class="list-group-item">task 2</li>
                    <li class="list-group-item">task 3</li>
                </ul>
            </div>
            <div class="afternoon">
                <h3>Afternoon</h3>
                <ul class="list-group">
                    <li class="list-group-item">task 1</li>
                    <li class="list-group-item">task 2</li>
                    <li class="list-group-item">task 3</li>
                </ul>
            </div>
            <div class="evening">
                <h3>Evening</h3>
                <ul class="list-group">
                    <li class="list-group-item">task 1</li>
                    <li class="list-group-item">task 2</li>
                    <li class="list-group-item">task 3</li>
                </ul>
            </div>
        </div>
        <div id="Thursday" data-Day-Thursday class="col d-flex flex-column">
            <div><h2>Thursday</h2></div>
            <hr />
            <div class="morning">
                <h3>Morning</h3>
                <ul class="list-group">
                    <li class="list-group-item">task 1</li>
                    <li class="list-group-item">task 2</li>
                    <li class="list-group-item">task 3</li>
                </ul>
            </div>
            <div class="afternoon">
                <h3>Afternoon</h3>
                <ul class="list-group">
                    <li class="list-group-item">task 1</li>
                    <li class="list-group-item">task 2</li>
                    <li class="list-group-item">task 3</li>
                </ul>
            </div>
            <div class="evening">
                <h3>Evening</h3>
                <ul class="list-group">
                    <li class="list-group-item">task 1</li>
                    <li class="list-group-item">task 2</li>
                    <li class="list-group-item">task 3</li>
                </ul>
            </div>
        </div>
        <div id="Friday" data-Day-Friday class="col d-flex flex-column">
            <div><h2>Friday</h2></div>
            <hr />
            <div class="morning">
                <h3>Morning</h3>
                <ul class="list-group">
                    <li class="list-group-item">task 1</li>
                    <li class="list-group-item">task 2</li>
                    <li class="list-group-item">task 3</li>
                </ul>
            </div>
            <div class="afternoon">
                <h3>Afternoon</h3>
                <ul class="list-group">
                    <li class="list-group-item">task 1</li>
                    <li class="list-group-item">task 2</li>
                    <li class="list-group-item">task 3</li>
                </ul>
            </div>
            <div class="evening">
                <h3>Evening</h3>
                <ul class="list-group">
                    <li class="list-group-item">task 1</li>
                    <li class="list-group-item">task 2</li>
                    <li class="list-group-item">task 3</li>
                </ul>
            </div>
        </div>
        <!--Saturday-->
        <div id="Saturday" data-Day-Saturday class="col flex-column d-flex">
            <div><h2>Saturday</h2></div>
            <hr />
            <div class="morning">
                <h3>Morning</h3>
                <ul class="list-group">
                    <li class="list-group-item">task 1</li>
                    <li class="list-group-item">task 2</li>
                    <li class="list-group-item">task 3</li>
                </ul>
            </div>
            <div class="afternoon">
                <h3>Afternoon</h3>
                <ul class="list-group">
                    <li class="list-group-item">task 1</li>
                    <li class="list-group-item">task 2</li>
                    <li class="list-group-item">task 3</li>
                </ul>
            </div>
            <div class="evening">
                <h3>Evening</h3>
                <ul class="list-group">
                    <li class="list-group-item">task 1</li>
                    <li class="list-group-item">task 2</li>
                    <li class="list-group-item">task 3</li>
                </ul>
            </div>
        </div>
        <div id="Sunday" data-Day-Sunday class="col flex-column d-flex">
            <div><h2>Sunday</h2></div>
            <hr />
            <div class="morning">
                <h3>Morning</h3>
                <ul class="list-group">
                    <li class="list-group-item">task 1</li>
                    <li class="list-group-item">task 2</li>
                    <li class="list-group-item">task 3</li>
                </ul>
            </div>
            <div class="afternoon">
                <h3>Afternoon</h3>
                <ul class="list-group">
                    <li class="list-group-item">task 1</li>
                    <li class="list-group-item">task 2</li>
                    <li class="list-group-item">task 3</li>
                </ul>
            </div>
            <div class="evening">
                <h3>Evening</h3>
                <ul class="list-group">
                    <li class="list-group-item">task 1</li>
                    <li class="list-group-item">task 2</li>
                    <li class="list-group-item">task 3</li>
                </ul>
            </div>
        </div>
    </div>

</div>


    

@section Scripts{
    <script>



        $(document).ready(function () {
            console.log("ready")
            $.ajax({
                type: "GET",
                url: "https://localhost:7148/api/tasks",
                dataType: "json",
                success: function (response) {
                    var responseJson = JSON.stringify(response)
                    var responseParse = JSON.parse(responseJson);
                    var calanderDay = "";
                    var week = $('#week')

                    $.each()

                    

                    

                   /*
                    for(var i = 0; i < responseJson.length; i++){
                        for(var j = 0; j < responseJson.taskItems.length; j++){
                            calanderDay += `
                                            <div>
                                                    <p>${responseJson.days[i].dayName}</p>
                                                    <p>${responseJson.days.taskItems[j].taskName}

                                            </div>
                                            `
                        }
                    }
                    //   var week = $("#week");
                    //console.log(data
                    */
                },
            });
        });

      
       
    </script>
}